@font-face {
    font-family: 'helveticaneuecyrLight';
    src: url('../fonts/HelveticaNeueCyr-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('../fonts/HelveticaNeueCyr-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/HelveticaNeueCyr-Roman.otf');
    font-weight: normal;
    font-style: normal;
}

@mixin helvetica($style : roman) {
    @if $style = roman {
        font-family: 'helveticaneuecyrroman';
    }

    @if $style = medium {
        font-family: 'helveticaneuecyrmedium';        
    }

    @if $style = Light {
        font-family: 'helveticaneuecyrLight';
    }
    
}