@import "fonts";
@import "mixin";

html {
	width: 100%;
	height: 100%;
}

body {
	background: #f0f0f0;
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.42;
	font-family: "helveticaneuecyrroman";
	
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.empty {
	height: 115px;
}

.footer {
	height: 115px;
	margin-top: -115px;
	position: relative;
}

ul {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none !important;
}

* {
	box-sizing: border-box;
}

.conteiner {
	width: 1170px;
	margin: 0 auto;
}
/*-------header------- */

.header {
	background: #fb3e38;
	background: -moz-linear-gradient(left, #fb3e38 0%, #ff8f30 100%);
	background: -webkit-linear-gradient(left, #fb3e38 0%,#ff8f30 100%);
	background: linear-gradient(to right, #fb3e38 0%,#ff8f30 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb3e38', endColorstr='#ff8f30',GradientType=1 );
	margin-bottom: 20px;
}

.header__logo, .header__search, .header__menu {
	float: left;
}

.header__top {
	@include clearfix;
}

.header__logo {
	width: 25%;
}

.header__search {
	width: 40%;
}

.header__menu {
	width: 35%;
}

.logo {
	display: inline-block;
}

.logo__pic {
	display: block;
	max-width: 175px;
	max-height: 55px;
}

.search {
	position: relative;
	
}

.search__input {
	padding: 10px 40px 10px 35px;
	background: rgba(#fff, 0.2);
	border: 0 none;
	border-radius: 50px;
	color: #fff;
	outline: none;
	width: 100%;

	&::-webkit-input-placeholder {
		color: #fff;
	}
	
	
}

.search__submit {
	background: url("/img/search_ico.png") 0 0 no-repeat;
	width: 18px;
	height: 18px;
	display: block;
	border: none;
	position: absolute;
	right: 18px;
	top: 50%;
	margin-top: -9px;
	padding: 0;
	outline: none;
	cursor: pointer;
}

.menu__item {
	display: inline-block;
}

/*-------menu------- */

.menu {
	text-align: justify;

	&::after {                // создаем вторую строку что бы сработало выравнивание justify потому что
		content: "";		  // оно работает только когда 2 и больше строк на 1 не работает
		display: inline-block;
		width: 100%;
		height: 0;
	}
}

.menu__link {
	display: block;
	padding: 10px;
	text-decoration: none;
}

.menu__link_iconed {
	padding-right: 20px;
	padding-left: 50px;
	position: relative;
	border: 2px solid #feaf6d;
	border-radius: 50px;
	&:hover {
		background: rgba(#fff, .3);
		border: 2px solid #fff;
	}
}

.menu__link-text {
	color: #fff;
	font-size: 13px;
}

.menu__link-icon {
	position: absolute;
	left: 13px;
	top: 0;
	bottom: 0;
	width: 30px;
}

.meno__link-icon-pic {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.header__top {
	padding: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(#fff, .2)
}

/*-------nav------ */

.nav__list {
	text-align: justify !important;
	width: 100%;
	margin-top: 20px;

	&::after {
		content: "";
		width: 100%;
		height: 0;
		display: inline-block;
	}
}

.nav__item {
	display: inline-block;
}

.nav__link {
	&:hover {
		.nav__title {
			color: #ffc960;
		}
		
	}
}

.nav__icon, .nav__title {
	display: inline-block;
	vertical-align: middle;

	svg {
		fill: #fff;
	}
}

.nav__title {
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
}









